nav {
    text-align: right;
    position: fixed;
    width: 100vw;
    background-color:rgba(4, 4, 92, 0.918);
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin: 0 1rem;
    vertical-align: middle;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color:rgba(4, 4, 92, 0.918);
}

h1, h2, p {
    color: black;
}

footer {
    padding: 24px 24px;
    background-color:rgba(4, 4, 92, 0.918);
    font: normal normal 300 20px/24px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
